.App {
  text-align: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  /* max-width: 651px; */
  align-content: stretch;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
}

button {
  margin: 0 5px;
}

.buttons {
  margin-bottom: 25px;
}